.warehouse-page-container {
    position: relative;
    top: var(--navbar-height);
    height: calc(100svh - var(--navbar-height));
    background-color: #FEFEFE;
    padding: 20px;

    .warehouse-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-size: 1.6em;
        }

        .warehouse-header-buttons {
            display: flex;
            gap: 15px;

            button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                padding: 5px 8px;
                font-weight: bold;
                font-size: 1.3rem;
                color: #345995;

                &:hover {
                    color: #0F3167;
                }
            }

        }
    }


    .warehouse-function-buttons {
        display: flex;
        gap: 15px;
        width: 100%;

        button {
            padding: 10px 20px;
            background-color: #345995;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            transition: background-color 0.3s;
        };

        .warehouse-plus-button:hover {
            background-color: green;
        };

        .warehouse-minus-button:hover {
            background-color: orange;
        }

        .warehouse-history-button {
            margin-left: auto;
            font-size: 1.3rem;
            &:hover {
                background-color: #0056b3;
            }
            
        }
    }
}