// sideMenu.styles.scss

.side-menu {
    z-index: 998;
    position: absolute;
    width: 100%;
    left: -200%;
    height: calc(100svh - var(--navbar-height));
    top: var(--navbar-height);
    overflow: hidden;  // Hide content that goes outside the box
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    opacity: 0;
  }
  
  .side-menu.active {
    left: 0;
    opacity: 1;
  }
  