@font-face {
  font-family: 'SFPRO';
  src: local('SFPRO'), url('./fonts/SFPRO.ttf') format('ttf');
}

:root {
  --navbar-height: 48px;
  min-height: inherit;
  position: relative;
  margin: 0px auto;
}

#root {
  background-color: #FFFFFF !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
  min-width: 360px;
  max-width: 1800px;
  background-color: #FFFFFF;
}

body {
  font-family: 'SFPRO', sans-serif;
  width: 100%;
  min-height: 100svh;
  background-color: #FFFFFF;
}

.loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}